/* Create */
.create-body{
  height: 70vh;
  justify-content: center;
  flex-flow: column wrap;
}
.storyboard{
  width: 100%;
  background-size: contain;
  min-height: 81vh;
  background-position: center;
  background-repeat: no-repeat;
}
.storyboard-body{
  height: 68vh;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}
.storyboard-body > div{
  justify-content: center;
}
.storyboard-body iframe{
  width: 100%;
}
.upload-options{
  max-width: 300px;
  margin: 24px 0;
  flex-flow: column wrap;
  align-items: center;
}
.upload-options > div{
  margin: 0px 0px 24px 0px;
  align-items: center;
}
.upload-options div .fa{
  justify-content: center;
}
.upload-options .input{
  flex-flow: column wrap;
}
.upload-options .input div{
  align-items: center;
}
.scene-board{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 25vh;
  align-items: flex-end;
}
.scene-list{
  width: 100vw;
  height: 25vh;
  overflow: scroll;
  align-items: flex-end;
}
.scene-shot{
  width: 12vw;
  height: 17vh;
  margin: 1vh 1vw;
  background: black;
  transition: all 0.5s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.scene-shot.shift-right{
  transform: translate(14vw, 0);
}
.scene-shot.shift-left{
  transform: translate(-14vw, 0);
}

.scene-options{
  width: 12vw;
  height: 4vh;
  font-size: 18px;
  position: relative;
  top: -4vh;
  align-items: center;
  visibility: hidden;
}

@media only screen and (max-width: 576px) {
  .scene-shot{
    min-width: 30vw;
  }
  .scene-shot.shift-right{
    transform: translate(32vw, 0);
  }
  .scene-shot.shift-left{
    transform: translate(-32vw, 0);
  }
  .scene-options{
    width: 30vw;
  }
}

.scene-shot.focus .scene-options{
  visibility: visible;
}
.scene-options div{
  justify-content: center;
}
.scene-options div:hover{
  font-size: 24px;
}

.publish-body, .publish-body .snapshot, .publish-option{
  flex-flow: column wrap;
}
.publish-body div{
  justify-content: center
}
.publish-body .snapshot img{
  max-width: 250px;
  max-height: 250px;
}
.publish-option .public, .publish-option .private{
  cursor: pointer;
}
.publish-option.public .public, .publish-option.private .private{
  color: #69BF40;
  text-decoration: underline;
}