/* Story */
.story{
  flex-flow: column wrap;
  margin-bottom: 32px;
}
.story-media{
  margin-bottom: 8px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}
.story-content{
  flex-flow: column wrap;
}

/* View */
.view-story-container{
	z-index: 50;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vh;
	width: 100vw;
	background: #191919;
	justify-content: center;
}
.view-story .header{
	height: 5vh;
	align-items: center;
	font-size: 18px;
	z-index: 1;
	visibility: visible;
	opacity: 0.7;
	background: rgba(25, 25, 25, .2);
}
.view-story .header .fa{
	cursor: pointer;
}

.view-story .navigation{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 28px;
	visibility: visible;
	z-index: 100;
	cursor: pointer;
}
.view-story .navigation .left{
	position: absolute;
	top: 40vh;
	left: 5vw;
}
.view-story .navigation .right{
	position: absolute;
	top: 40vh;
	left: 95vw;
}
@media only screen and (max-width: 576px) {
  .navigation{
   	display: none;
  }
}

.view-story .body{
	height: 100vh;
	position: relative;
	top: -5vh;
	font-size: 16px;
}
.view-story .part{
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: none;
}
.view-story .part.active{
	display: flex;
}
.view-story .part .body{
	align-items: center;
}
.view-story .part .text-body{
	padding-top: 10vh;
}
.view-story .part .body iframe{
	width: 100%;
	max-height: 70vh;
}
.view-story .part .the-end{
	flex-flow: column wrap;
}
.view-story .part .the-end .credits{
	height: 25vh;
	align-items: center;
}
.part .the-end .credits, .part .the-end .payment, .part .the-end .share, .part .the-end .payment-form{
	justify-content: center
}
.part .the-end .content{
	flex-flow: column wrap;
	width: 100%;
	max-width: 500px;
}
.part .the-end .content > div{
	justify-content: center;
	text-align: center;
	align-items: center
}
.part .the-end .content .pay-trigger .fa{
	margin-left: 8px;
	font-size: 18px;
	color: #C3C3C3;
}
.part .the-end .payment-form{
	padding-top: 20vh;
}
.payment-form input{
	border-bottom: 0 !important;
}
.payment-form .form-label{
	font-size: 16px;
}

.view-nav-onboarding{
	position: fixed;
	top: 30px;
	left: 50vw;
	visibility: hidden;
}
.view-nav-onboarding img{
	max-height: 15vh;
}
.view-nav-onboarding.slow-fade{
	visibility: visible;
	opacity: 0;
  transition: all 6s linear;
}


