/* Layout & General Stuff */
body {
  margin: 0;
  padding: 0;
}
div{
  display: flex;
  width: 100%;
}
#root{
  background: #191919;
  min-height: 100vh;
  justify-content: center;
  flex: 1;
}
.pseudo-root{
  justify-content: center;
}

@media only screen and (max-width: 576px) {
    .container{
        width: 100%;
        padding: 0px 12px;
    }
}
.container{
  width: 576px;
  flex-flow: column wrap;
}
.pseudo-container{
  width: 100%;
  flex-flow: column wrap;
}
.right-align{
  justify-content: flex-end;
}


/* Typography */
#root, #root input, #root textarea{
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 13px;
}
.font-x-large{
  font-size: 24px;
}
.font-heading{
  font-size: 18px;
}
.font-navigation, .font-navigation a{
  font-size: 16px;
  color: #C3C3C3 !important;
}
.font-sub-heading{
  font-size: 14px;
  color: #C3C3C3;
}
.font-bold{
  font-weight: 600;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
    font-weight: normal;
}
a:hover{
  text-decoration: underline;
}
.btn, .soft-btn:hover{
  text-decoration: underline;
  cursor: pointer;
}


/* Header */
#header{
  height: 48px;
  align-items: center;
  border-bottom: 1px solid #353535;
  font-size: 18px;
}
.nav-header{
  height: 48px;
  align-items: center;
}
.header-actions{
  justify-content: flex-end;
}
.header-actions div{
  justify-content: flex-end;
  text-decoration: underline;
}
.header-actions div{
  position: relative;
  top: 1px;
}
.header-actions.main div{ /* to vertical align with logo */
  top: -1px;
}
.header-back{
  margin-right: 12px;
}

/* Body/Layout/Common */
.list, .list-body{
  flex-flow: column wrap;
}
.list-header{
  margin: 12px 0px;
}


/* Footer */
#footer{
  border-top: 1px solid #353535;
  margin: 18px 0px;
  padding: 12px 0px;
  flex-flow: column wrap;
}
#footer div{
  justify-content: center;
  text-align: center;
}


/* Home */
.login-body{
  height: 60vh;
  align-items: center;
}
.login-body div{
  justify-content: center;
}