/* Layout & General Stuff */
body {
  margin: 0;
  padding: 0;
}
div{
  display: flex;
  width: 100%;
}
#root{
  background: #191919;
  min-height: 100vh;
  justify-content: center;
  flex: 1;
}
.pseudo-root{
  justify-content: center;
}

@media only screen and (max-width: 576px) {
    .container{
        width: 100%;
        padding: 0px 12px;
    }
}
.container{
  width: 576px;
  flex-flow: column wrap;
}
.pseudo-container{
  width: 100%;
  flex-flow: column wrap;
}
.right-align{
  flex: 1;
  justify-content: flex-end;
}


/* Typography */
#root, #root input, #root textarea{
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 13px;
}
.font-x-large{
  font-size: 24px;
}
.font-heading{
  font-size: 18px;
}
.font-navigation, .font-navigation a{
  font-size: 16px;
  color: #C3C3C3 !important;
}
.font-sub-heading{
  font-size: 14px;
  color: #C3C3C3;
}
.font-bold{
  font-weight: 600;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
    font-weight: normal;
}
a:hover{
  text-decoration: underline;
}
.btn{
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}


/* Header */
#header{
  height: 48px;
  align-items: center;
  border-bottom: 1px solid #353535;
}
.nav-header{
  height: 48px;
  align-items: center;
}
.header-actions{
  flex: 1;
}
.header-actions div{
  width: 24px;
  justify-content: flex-end;
  text-decoration: underline;
  position: relative;
  top: -1px;
}

/* Body/Layout/Common */
.list, .list-body{
  flex-flow: column wrap;
}
.list-header{
  margin: 12px 0px;
}


/* Footer */
#footer{
  border-top: 1px solid #353535;
  margin: 18px 0px;
  padding: 12px 0px;
  flex-flow: column wrap;
}
#footer div{
  justify-content: center;
  text-align: center;
}


/* Event */
.event{
  flex-flow: column wrap;
  margin-bottom: 32px;
}
.event-media{
  margin-bottom: 8px;
}
.event-media img, .event-media video{
  width: 100%;
  height: 100%;
}
.event-content{
  flex-flow: column wrap;
}


/* Story */
.create-body{
  height: 70vh;
  justify-content: center;
  flex-flow: column wrap;
}
.storyboard{
  width: 100%;
  background-size: contain;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.scene-board{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 15vh;
  border-top: 1px solid #353535;
}
.left-marker{
  font-size: 24px;
  font-weight: 700;
  width: 5vw;
  height: 15vh;
  justify-content: center;
  align-items: center;
}
.scene-list{
  width: 90vw;
  height: 15vh;
  overflow: scroll;
}
.scene-shot{
  min-width: 13vw;
  height: 13vh;
  margin: 1vh 1vw;
  background: white;
  opacity: 0.2;
  color: black;
}
.right-marker{
  font-size: 24px;
  font-weight: 700;
  width: 5vw;
  height: 15vh;
  right: 0;
  justify-content: center;
  align-items: center;
}
